@keyframes dissolve {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

#bed {
    position: absolute;
    z-index: -2;
    top: 0;
    height: 100vh;
    left: 19vw;
}

#bed-div {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 133vh;
    left: 10vw;
    top: 0;
}

.item {
    position: absolute;
    padding: 3%;
    border-radius: 50%;
}

.active:hover {
    background-color: lightyellow;
    cursor: pointer;
}

#switch-image {
    height: 100%;
}

#switch {
    left: 7vw;
    top: 25%;
    height: 10%;
}

#garbage-image {
    height: 100%;
}

#garbage {
    left: 2vw;
    bottom: 0;
    height: 40%;
}

#computer-image {
    width: 100%;
}

#computer {
    right: 18%;
    top: 30%;
    width: 20%;
}

#books-image {
    height: 100%;
}

#books {
    bottom: 0;
    height: 20%;
    right: 40%;
}

#intro-paper {
    height: 10%;
    top: 47%;
    right: 12%;
}

#intro-paper-image {
    height: 100%;
}

#window {
    right: 0;
    height: 12vh;
    width: 40vh;
    border-radius: 50%;
    padding-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;;
}

#window-image {
    width: 100%;
}

/* Intro */

.hidden {
    display: none;
}

#intro {
    background-color: white;
    position: absolute;
    left: 20%;
    z-index: 2;
    width: 60%;
    max-height:90%;
    margin: auto;
    padding: 15px;
    padding-bottom: 30px;
    box-shadow: 2px 2px 5px black;
    overflow: auto;
    font-family: 'Indie Flower'
}
#home-art  {
    top: -8%;
    right: 46%;
    width: 10vw;
}
#home-art-image {
    height: 10vw;
    width: 10vw;
    object-fit: contain;
    background-color: white;
    border: 1vw solid white;
    outline: 0.31vw solid black;
    box-shadow: 4px 4px 15px black;
}

/* Lights out */

.dissolving {
    filter: saturate(0);
    animation-name: dissolve;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-fill-mode: both;
}

/* February */
#home-container {
    width: 102vw;
    height: 102vh;
    margin: 0;
    perspective: 200vw;
    position: absolute;
    top: 0;
    left: 0;
}

.item-february {
    position: absolute;
}

.active-february:hover {
    cursor: pointer
}

#room {
    position: absolute;
    left: 10vmax;
    top: -37.5vw;;
    transform-style: preserve-3d;
    transform: rotateX(-18deg) translateZ(37.4vmax) translateY(-20vmax);
}

#floor {
    position: absolute;
    background-image: url(../../assets/images/home/february/floor.jpg);
    background-repeat: repeat;
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    transform: rotateX(90deg);
    filter: brightness(1.1);
}

#back-wall {
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    transform: translateZ(-100vmax);
}

#side-wall {
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    transform: translateX(-100vmax) rotateY(90deg);
}

#front-wall {
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    transform: translateZ(100vmax)
}

#bed-and-comforter {
    position: absolute;
    height: 39vw;
    width: 32.5vw;
    transform: translateX(50vw) translateY(60vmax) translateZ(-20vmax);
}

#image-bed {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#comforter {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-size: 60%;
    background-repeat: repeat;
    mask-position: center;
    mask-size: 100%, 100%;
    mask-image: url(../../assets/images/home/february/bedMask.png);
}

#lamp {
    height: 80vh;
    width: 30vh;
    bottom: 0;
    left: 0;
}

#lamp-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#bookshelf {
    height: 20vmax;
    width: 26vmax;
    transform: translateY(80vmax) translateZ(-86vmax);
}

#bookshelf-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#window-february {
    height: 20vmax;
    width: 26vmax;
    transform: translateY(60vmax) translateX(30vw) translateZ(-86vmax);
    background-size: contain;
    background-position: center;
}

#window-image-february {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#mirror {
    height: 40vmax;
    width: 8vmax;
    transform: translateX(-0.3vw) translateY(65vh) translateZ(-30vmax);
}

#mirror-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#clock-and-calendar {
    height: 14vmax;
    width: 21vmax;
    transform: translateX(7.2vmax) translateY(56vmax) translateZ(-50vmax)
}

#clock-and-calendar-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


@media (orientation: portrait) {
    html {
        overflow: auto;
    }

    #bed {
        height: 100vw;
        width: calc(1220 * 100 / 1080)vw;
        left: auto;
        right: 2vw;
        object-fit: contain;
    }

    #bed-and-comforter {
        transform: translateX(40vw) translateY(60vmax) translateZ(10vmax);
    }

    #lamp {
        width: 23vh;
        height: 60vh;
    }

    #bookshelf {
        height: 25vmax;
        width: 33vmax;
        transform: translateY(75vmax) translateZ(-86vmax);
    }

    #mirror {
        transform: translateX(-0.3vw) translateY(48vh) translateZ(0vmax);
    }

    #window-february {
        height: 30vmax;
        width: 39vmax;
        transform: translateY(40vmax) translateX(50vw) translateZ(-86vmax)
    }

    #clock-and-calendar {
       transform: translateX(7.2vw) translateY(48vmax) translateZ(-50vmax)
    }

    #bed-div {
        height: 100vw;
        width: 133vw;
        left: auto;
        right: 2vw;
    }

    #switch {
        left: 17vw;
        top: 6vw;
        height: 7vw;
    }

    #garbage {
        right: 2vw;
        left: auto;
    }

    #window {
        right: 0;
        height: 9vw;
        width: 30vw;
        border-radius: 50%;
        padding-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;;
    }

    #home-art  {
        top: -3%;
    }
}

