.february-reader-page-hidden {
  display: none;
}

.february-reader {
  width: 99%;
  height: 99%;
}

.static-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.february-reader-center-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.february-reader-text-container {
  padding: 40px;
  font-size: 3vmin;
  font-family: 'EB Garamond';
  width: 100%;
  height: 80%;
  align-items: center;
  overflow-y: auto; 
}


