.february-reader {
  width: 99%;
  height: 99%;
}

.static-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.february-reader-center-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.february-reader-marginalia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.february-reader-marginalia-left, .february-reader-marginalia-right {
  width: 25%;
  height: 80%;
}

.february-reader-marginalia-top, .february-reader-marginalia-bottom {
  height: 10%;
}

.february-reader-text-window {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.february-reader-text-container {
  font-size: 3vmin;
  font-family: 'EB Garamond';
  align-items: center;
  overflow-y: auto; 
}


