.deific {
  --white: rgb(255, 255, 255);
  --lightWarm: rgb(255, 255, 0);
  --lightCool: rgb(240, 240, 240);
  --midWarm: rgb(255, 0, 255);
  --midCool: rgb(211, 211, 211);
  --darkWarm: rgb(137, 135, 135);
  --darkCool: rgb(143, 144, 143);
  --black: rgb(0, 0, 0);
}

#deific-february-reader {
  background-color: var(--black);
}

.deific-reader-marginalia-horizontal {
  background-color: var(--midWarm);
}

.deific-reader-marginalia-vertical {
  background-color: var(--lightWarm);
}

#deific-february-reader-text-window {
  background-color: var(--white);
  box-shadow: 4px 4px 2px;
}

#deific-february-reader-text-container h1 {
  text-align: center;
  color: var(--lightWarm);
  text-shadow: var(--black) 4px 4px 2px;
  font-size: 10vmax;
  margin: 0;
}

#deific-february-reader-text-container h2 {
  font-family: 'UnifrakturMaguntia';
}

#deific-february-reader-text-container p {
  font-size: 2.25vmin;
  margin-left: 2em;
  text-indent: -2em;
  margin-top: 0;
  margin-bottom: 0;
}