.deific {
  --white: rgb(255, 255, 255);
  --lightWarm: rgb(255, 255, 0);
  --lightCool: rgb(240, 240, 240);
  --midWarm: rgb(255, 0, 255);
  --midCool: rgb(211, 211, 211);
  --darkWarm: rgb(137, 135, 135);
  --darkCool: rgb(143, 144, 143);
  --black: rgb(0, 0, 0);
}

/*Static page*/

#deific-february-reader {
  background-color: var(--black);
}

.deific-reader-marginalia-horizontal {
  background-color: var(--midWarm);
  box-shadow: 3px 3px 1vw var(--midWarm), -3px -3px 1vw var(--midWarm);
}

.deific-reader-marginalia-vertical {
  background-color: var(--lightWarm);
  box-shadow: 3px 3px 1vw var(--lightWarm), -3px -3px 1vw var(--lightWarm);
}

#deific-february-reader-text-window {
  background-color: var(--white);
  box-shadow: inset 2px 2px 5px var(--black);
}

#deific-february-reader-text-container h1 {
  text-align: center;
  color: var(--lightWarm);
  text-shadow: var(--black) 4px 4px 2px;
  font-size: 10vmax;
  margin: 0;
}

#deific-february-reader-text-container h2 {
  font-family: 'UnifrakturMaguntia';
}

#deific-february-reader-text-container p {
  font-size: 2.25vmin;
  margin-left: 2em;
  text-indent: -2em;
  margin-top: 0;
  margin-bottom: 0;
}

/*Poem Page*/

.deific-poem-page-title {
  color: var(--lightWarm);
  font-family: 'Petit Formal Script';
  font-size: 3vmax;
  font-weight: normal;
  text-align: center;
}

.deific-speech-bubble {
  background-color: var(--white);
  margin: 1vw;
  padding: 1vw;
  padding-left: 2vw;
  text-indent: -1vw;
  border-radius: 1vmax;
  font-family: 'Reenie Beanie';
  font-size: 3.25vh;
  width: 40%;
  align-self: center;
  box-shadow: inset 0.5vw 0.5vw 1vw var(--darkCool), inset -0.5vw -0.5vw 1vw var(--lightWarm);
}

.deific-speech-bubble strong {
  font-family: 'Petit Formal Script';
  color: var(--midWarm);
}

.deific-speech-bubble em {
  font-family: 'Montserrat';
  color: var(--darkWarm);
}

.deific-speech-bubble-left {
  background-color: var(--midWarm);
  color: var(--white);
  border-bottom-left-radius: 0;
  align-self: flex-start;
}

.deific-speech-bubble-left strong {
  color: var(--lightWarm);
}

.deific-speech-bubble-left em {
  font-family: 'Montserrat';
  color: var(--lightCool);
}

.deific-speech-bubble-right {
  background-color: var(--lightWarm);
  border-bottom-right-radius: 0;
  align-self: flex-end;
  box-shadow: inset 0.5vw 0.5vw 1vw var(--midWarm), inset -0.5vw -0.5vw 1vw var(--lightCool);
}