.app-icon-button {
  font-size: 6vmin;
  line-height: 100%;
  padding: 2vw;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 10%;
  outline: none;
  box-shadow: none;
}

.app-icon-button:hover {
  background-color: rgba(255, 255, 255, .7);
}

#homescreen-apps {
  width: 100%;
  display: flex;
  padding: 10vw;
}

#computer-taskbar {
  background-color: gray;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  height: 6vh;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

#computer-datetime-picker {
  margin: 3px;
}