#photos-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 85vh;
  overflow: scroll;
  margin-top: 10vh;
}

.photos-image {
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
  box-shadow: 0px 0px 5px white;
  margin: 5px;
  object-fit: contain;
  background-color: rgb(53, 149, 210);
}

#photos-image-modal {
  background-color: rgb(53, 149, 210);
  margin-top: -10vh;
  width: 60vw;
  height: 70vh;
  border-radius: 10px;
}

#photos-large-image {
  width: 50vw;
  height: 60vh;
  object-fit: scale-down;
}

#photos-desktop-background-button {
  position: absolute;
  right: 2vh;
  bottom: 2vh;
}